<div class="hero">
    <p class="large brandon">RSVP for Dojo Day 2015</p>
    <p class="small brandon">Saturday, Setember 26th<br>9a to 9p.</p>
        <ul class="list">
            <li>
                KIDS GROUP CLASS - BRING A BUDDY 10:15AM - 11:00AM
            </li>
            <li>
                ADULT AND YOUNG ADULT GROUP CLASS 11:30AM - 12:30PM
            </li>
            <li>
                RANK TESTING (BY INVITATION ONLY) 12:30PM - 2:30PM
            </li>
            <li>
                ULTIMATE CARDIO CLASS - BRING A BUDDY 3:00PM - 4:00PM
            </li>
            <li>
                FOOD OUT FRONT!! 4:00PM - 5:00PM
            </li>
            <li>
                NINJA NIGHT 5:00PM - 8:30PM
            </li>
        </ul>
</div>

<div class="form-wrap clearfix <%= "ended" if Rails.application.config.ended %>">
    <% if Rails.application.config.ended %>
        <p class="thanks brandon">THANK YOU FOR PARTICIPATING<br>IN OUR PRE-LAUNCH.</p>
        <p class="compiling brandon">WE ARE COMPILING REWARDS RIGHT NOW AND WILL EMAIL<br/>COUPON CODES TO ALL RECIPIENTS IN THE NEXT DAY OR TWO</p>
        <p class="go-to brandon">In the meantime, head to  <a href="http://www.harrys.com/">WWW.HARRYS.COM</a></p>
        <p class="again brandon">Thank You Again!</p>
    <% else %>
        <div class="key"></div>
        <p class="byline brandon">Be the first to know</p>
        <%= form_for @user, :url => { :action => "create" } do |f| %>
            <%= f.text_field :email, :placeholder => "Enter Email", :class => "email brandon" %>
            <input class="submit brandon" name="commit" type="submit" value="Step Inside" />
        <% end %>
    <% end %>
</div>
